tools/verdict-back-ends/verdict-bundle-parent/verdict-data-model/src/main/resources/vdm_model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="verdict::vdm::vdm_model"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:vdm_model="verdict::vdm::vdm_model"
    xmlns:vdm_data="verdict::vdm::vdm_data"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
    xmlns:vdm_lustre="verdict::vdm::vdm_lustre">

    <import schemaLocation="vdm_lustre.xsd"
        namespace="verdict::vdm::vdm_lustre"></import>
    <import schemaLocation="vdm_data.xsd"
        namespace="verdict::vdm::vdm_data"></import>

    <element name="model" type="vdm_model:Model"></element>

    <complexType name="Model">
        <sequence>
            <element name="name" type="vdm_data:Identifier"></element>
            <element name="typeDeclaration"
                type="vdm_data:TypeDeclaration" maxOccurs="unbounded" minOccurs="0">
            </element>
            <element name="componentType" type="vdm_model:ComponentType"
                maxOccurs="unbounded" minOccurs="0">
            </element>
            <element name="componentImpl" type="vdm_model:ComponentImpl"
                maxOccurs="unbounded" minOccurs="0">
            </element>
            <element name="dataflowCode" type="vdm_lustre:LustreProgram"
                maxOccurs="1" minOccurs="0">
            </element>
            <element name="safetyReq" type="vdm_model:SafetyReq"
                minOccurs="0" maxOccurs="unbounded">
            </element>
            <element name="cyberReq" type="vdm_model:CyberReq"
                minOccurs="0" maxOccurs="unbounded">
            </element>
            <element name="mission" type="vdm_model:Mission"
                minOccurs="0" maxOccurs="unbounded">
            </element>
        </sequence>
    </complexType>

    <complexType name="ComponentType">
        <sequence>
            <element name="port" type="vdm_model:Port"
                maxOccurs="unbounded" minOccurs="1">
            </element>
            <element name="contract" type="vdm_lustre:ContractSpec"
                maxOccurs="1" minOccurs="0">
            </element>
            <element name="cyberRel" type="vdm_model:CyberRel"
                minOccurs="0" maxOccurs="unbounded"></element>
            <element name="safetyRel" type="vdm_model:SafetyRel"
                minOccurs="0" maxOccurs="unbounded"></element>
            <element name="event" type="vdm_model:Event" minOccurs="0"
                maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="id" type="ID" use="required"></attribute>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
        <attribute name="compCateg" type="string"></attribute>
    </complexType>

    <complexType name="ComponentImpl">
        <choice>
            <element name="blockImpl" type="vdm_model:BlockImpl"></element>
            <element name="dataflowImpl" type="vdm_lustre:NodeBody"></element>
        </choice>
        <attribute name="id" type="ID" use="required"></attribute>
        <attribute name="type" type="IDREF" use="required">
            <annotation>
                <appinfo>
                    <jaxb:property>
                        <jaxb:baseType
                            name="verdict.vdm.vdm_model.ComponentType" />
                    </jaxb:property>
                </appinfo>
            </annotation>
        </attribute>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
    </complexType>

    <complexType name="Port">
        <sequence>
            <element name="name" type="vdm_data:Identifier" maxOccurs="1"
                minOccurs="1">
            </element>
            <element name="mode" type="vdm_model:PortMode" maxOccurs="1"
                minOccurs="1">
            </element>
            <element name="type" type="vdm_data:DataType" maxOccurs="1"
                minOccurs="0">
            </element>
        </sequence>
        <attribute name="id" type="ID" use="required"></attribute>
        <attribute name="probe" type="boolean" use="required"></attribute>
    </complexType>

    <simpleType name="PortMode">
        <restriction base="string">
            <enumeration value="in"></enumeration>
            <enumeration value="out"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="ComponentInstance">
        <choice>
            <element name="specification" type="IDREF">
                <annotation>
                    <appinfo>
                        <jaxb:property>
                            <jaxb:baseType
                                name="verdict.vdm.vdm_model.ComponentType" />
                        </jaxb:property>
                    </appinfo>
                </annotation>
            </element>
            <element name="implementation" type="IDREF">
                <annotation>
                    <appinfo>
                        <jaxb:property>
                            <jaxb:baseType
                                name="verdict.vdm.vdm_model.ComponentImpl" />
                        </jaxb:property>
                    </appinfo>
                </annotation>
            </element>
        </choice>
        <attribute name="id" type="ID"></attribute>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
        <attributeGroup ref="vdm_model:ComponentProperties" />
    </complexType>

    <complexType name="BlockImpl">
        <sequence>
            <element name="subcomponent"
                type="vdm_model:ComponentInstance" maxOccurs="unbounded"
                minOccurs="1">
            </element>
            <element name="connection" type="vdm_model:Connection"
                maxOccurs="unbounded" minOccurs="1">
            </element>
        </sequence>
    </complexType>

    <complexType name="Connection">
        <all>
            <element name="source" type="vdm_model:ConnectionEnd"></element>
            <element name="destination" type="vdm_model:ConnectionEnd">
            </element>
        </all>
        <attribute name="name" type="vdm_data:Identifier"
            use="required">
        </attribute>
        <attribute name="replayProtection" type="boolean"
            use="optional"></attribute>
        <attribute name="flowType" type="vdm_model:Flow"
            use="optional"></attribute>
        <attribute name="dataEncrypted" type="boolean"
            use="optional">
        </attribute>
        <attribute name="encryption" type="boolean" use="optional"></attribute>
        <attribute name="authenticated" type="boolean"
            use="optional"></attribute>
        <attribute name="conn_type" type="vdm_model:ConnectionType"
            use="optional"></attribute>
        <attribute name="trustedConnection" type="boolean"
            use="optional"></attribute>
        <attribute name="encryptedTransmission" type="boolean"
            use="optional"></attribute>
        <attribute name="encryptedTransmissionDAL"
            type="vdm_model:DalType" use="optional" />
    </complexType>

    <attributeGroup name="ComponentProperties">
        <attribute name="hasSensitiveInfo" type="boolean"
            use="optional">
        </attribute>
        <attribute name="insideTrustedBoundary" type="boolean"
            use="optional">
        </attribute>
        <attribute name="broadcastFromOutsideTB" type="boolean"
            use="optional"></attribute>
        <attribute name="wifiFromOutsideTB" type="boolean"
            use="optional"></attribute>
        <attribute name="pedigree" type="vdm_model:PedigreeType"
            use="optional"></attribute>
        <attribute name="manufacturer"
            type="vdm_model:ManufacturerType" use="optional"></attribute>

        <attribute name="canReceiveConfigUpdate" type="boolean"
            use="optional"></attribute>
        <attribute name="canReceiveSWUpdate" type="boolean"
            use="optional"></attribute>
        <attribute name="controlReceivedFromUntrusted"
            type="boolean" use="optional"></attribute>
        <attribute name="controlSentToUntrusted" type="boolean"
            use="optional"></attribute>
        <attribute name="dataReceivedFromUntrusted" type="boolean"
            use="optional"></attribute>
        <attribute name="dataSentToUntrusted" type="boolean"
            use="optional"></attribute>
        <attribute name="Configuration_Attack" type="boolean"
            use="optional"></attribute>
        <attribute name="Physical_Theft_Attack" type="boolean"
            use="optional"></attribute>
        <attribute name="Interception_Attack" type="boolean"
            use="optional"></attribute>
        <attribute name="Hardware_Integrity_Attack" type="boolean"
            use="optional"></attribute>
        <attribute name="Supply_Chain_Attack" type="boolean"
            use="optional"></attribute>
        <attribute name="Brute_Force_Attack" type="boolean"
            use="optional"></attribute>
        <attribute name="Fault_Injection_Attack" type="boolean"
            use="optional"></attribute>
        <attribute name="Identity_Spoofing_Attack" type="boolean"
            use="optional"></attribute>
        <attribute name="Excessive_Allocation_Attack" type="boolean"
            use="optional"></attribute>
        <attribute name="Sniffing_Attack" type="boolean"
            use="optional"></attribute>
        <attribute name="Buffer_Attack" type="boolean"
            use="optional"></attribute>
        <attribute name="Flooding_Attack" type="boolean"
            use="optional"></attribute>
        <attribute name="auditMessageResponses" type="boolean"
            use="optional"></attribute>
        <attribute name="deviceAuthentication" type="boolean"
            use="optional"></attribute>
        <attribute name="dosProtection" type="boolean"
            use="optional"></attribute>
        <attribute name="encryptedStorage" type="boolean"
            use="optional"></attribute>
        <attribute name="inputValidation" type="boolean"
            use="optional"></attribute>
        <attribute name="logging" type="boolean" use="optional"></attribute>
        <attribute name="memoryProtection" type="boolean"
            use="optional"></attribute>
        <attribute name="physicalAccessControl" type="boolean"
            use="optional"></attribute>
        <attribute name="removeIdentifyingInformation"
            type="boolean" use="optional"></attribute>
        <attribute name="resourceAvailability" type="boolean"
            use="optional"></attribute>
        <attribute name="resourceIsolation" type="boolean"
            use="optional"></attribute>
        <attribute name="secureBoot" type="boolean" use="optional"></attribute>
        <attribute name="sessionAuthenticity" type="boolean"
            use="optional"></attribute>
        <attribute name="staticCodeAnalysis" type="boolean"
            use="optional"></attribute>
        <attribute name="strongCryptoAlgorithms" type="boolean"
            use="optional"></attribute>
        <attribute name="supplyChainSecurity" type="boolean"
            use="optional"></attribute>
        <attribute name="systemAccessControl" type="boolean"
            use="optional"></attribute>
        <attribute name="tamperProtection" type="boolean"
            use="optional"></attribute>
        <attribute name="userAuthentication" type="boolean"
            use="optional"></attribute>
        <attribute name="antiJamming" type="boolean" use="optional"></attribute>
        <attribute name="antiJamming_dal" type="vdm_model:DalType"></attribute>
        <attribute name="auditMessageResponsesDAL"
            type="vdm_model:DalType" use="optional">
        </attribute>
        <attribute name="deviceAuthenticationDAL"
            type="vdm_model:DalType" use="optional"></attribute>
        <attribute name="dosProtectionDAL" type="vdm_model:DalType"
            use="optional"></attribute>
        <attribute name="encryptedStorageDAL"
            type="vdm_model:DalType" use="optional"></attribute>
        <attribute name="heterogeneityDAL" type="vdm_model:DalType"
            use="optional"></attribute>
        <attribute name="inputValidationDAL"
            type="vdm_model:DalType" use="optional"></attribute>
        <attribute name="loggingDAL" type="vdm_model:DalType"
            use="optional"></attribute>
        <attribute name="memoryProtectionDAL"
            type="vdm_model:DalType" use="optional"></attribute>
        <attribute name="physicalAccessControlDAL"
            type="vdm_model:DalType" use="optional"></attribute>
        <attribute name="removeIdentifyingInformationDAL"
            type="vdm_model:DalType" use="optional">
        </attribute>
        <attribute name="resourceAvailabilityDAL"
            type="vdm_model:DalType" use="optional"></attribute>
        <attribute name="resourceIsolationDAL"
            type="vdm_model:DalType" use="optional"></attribute>
        <attribute name="secureBootDAL" type="vdm_model:DalType"
            use="optional"></attribute>
        <attribute name="sessionAuthenticityDAL"
            type="vdm_model:DalType" use="optional"></attribute>
        <attribute name="staticCodeAnalysisDAL"
            type="vdm_model:DalType" use="optional"></attribute>
        <attribute name="strongCryptoAlgorithmsDAL"
            type="vdm_model:DalType" use="optional"></attribute>
        <attribute name="supplyChainSecurityDAL"
            type="vdm_model:DalType" use="optional"></attribute>
        <attribute name="systemAccessControlDAL"
            type="vdm_model:DalType" use="optional"></attribute>
        <attribute name="tamperProtectionDAL"
            type="vdm_model:DalType" use="optional"></attribute>
        <attribute name="userAuthenticationDAL"
            type="vdm_model:DalType" use="optional"></attribute>
        <attribute name="heterogeneity" type="boolean"
            use="optional"></attribute>
        <!-- CRV props below -->
        <attribute name="category" type="string" use="optional"></attribute>
        <attribute name="componentKind"
            type="vdm_model:KindOfComponent" use="optional">
        </attribute>
        <attribute name="situated" type="vdm_model:SituatedType"
            use="optional">
        </attribute>
        <attribute name="adversariallyTested" type="boolean"
            use="optional"></attribute>
    </attributeGroup>

    <simpleType name="DalType">
        <restriction base="int">
            <minInclusive value="0"></minInclusive>
            <maxInclusive value="9"></maxInclusive>
        </restriction>
    </simpleType>

    <simpleType name="Flow">
        <restriction base="string">
            <enumeration value="Xdata"></enumeration>
            <enumeration value="Xcontrol"></enumeration>
            <enumeration value="Xrequest"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="ConnectionEnd">
        <choice>
            <element name="componentPort" type="IDREF">
                <annotation>
                    <appinfo>
                        <jaxb:property>
                            <jaxb:baseType name="verdict.vdm.vdm_model.Port" />
                        </jaxb:property>
                    </appinfo>
                </annotation>
            </element>
            <element name="subcomponentPort"
                type="vdm_model:CompInstancePort"></element>
        </choice>
    </complexType>

    <complexType name="CompInstancePort">
        <sequence>
            <element name="subcomponent" type="IDREF" maxOccurs="1"
                minOccurs="1">
                <annotation>
                    <appinfo>
                        <jaxb:property>
                            <jaxb:baseType
                                name="verdict.vdm.vdm_model.ComponentInstance" />
                        </jaxb:property>
                    </appinfo>
                </annotation>
            </element>
            <element name="port" type="IDREF" maxOccurs="1" minOccurs="1">
                <annotation>
                    <appinfo>
                        <jaxb:property>
                            <jaxb:baseType name="verdict.vdm.vdm_model.Port" />
                        </jaxb:property>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <simpleType name="KindOfComponent">
        <restriction base="string">
            <enumeration value="Software"></enumeration>
            <enumeration value="Hardware"></enumeration>
            <enumeration value="Human"></enumeration>
            <enumeration value="Hybrid"></enumeration>
        </restriction>
    </simpleType>

    <simpleType name="SituatedType">
        <restriction base="string">
            <enumeration value="OnBoard"></enumeration>
            <enumeration value="Remote"></enumeration>
        </restriction>
    </simpleType>

    <simpleType name="ConnectionType">
        <restriction base="string">
            <enumeration value="Local"></enumeration>
            <enumeration value="Remote"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="CIAPort">
        <sequence>
            <element name="name" type="string" minOccurs="1"
                maxOccurs="1"></element>
            <element name="cia" type="vdm_model:CIA" minOccurs="1"
                maxOccurs="1"></element>
        </sequence>
    </complexType>

    <simpleType name="CIA">
        <restriction base="string">
            <enumeration value="Confidentiality"></enumeration>
            <enumeration value="Integrity"></enumeration>
            <enumeration value="Availability"></enumeration>
        </restriction>
    </simpleType>


    <simpleType name="CyberExprKind">
        <restriction base="string">
            <enumeration value="Port"></enumeration>
            <enumeration value="And"></enumeration>
            <enumeration value="Or"></enumeration>
            <enumeration value="Not"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="CyberExpr">
        <choice>
            <element name="kind" type="vdm_model:CyberExprKind"></element>
            <element name="port" type="vdm_model:CIAPort"></element>
            <element name="and" type="vdm_model:CyberExprList"></element>
            <element name="or" type="vdm_model:CyberExprList"></element>
            <element name="not" type="vdm_model:CyberExpr"></element>
        </choice>
    </complexType>

    <complexType name="CyberExprList">
        <sequence>
            <element name="expr" type="vdm_model:CyberExpr" minOccurs="1"
                maxOccurs="unbounded"></element>
        </sequence>
    </complexType>

    <complexType name="CyberReq">
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="cia" type="vdm_model:CIA" minOccurs="0"
                maxOccurs="1"></element>
            <element name="severity" type="vdm_model:Severity"
                minOccurs="1" maxOccurs="1"></element>
            <element name="condition" type="vdm_model:CyberExpr"
                minOccurs="1" maxOccurs="1"></element>
            <element name="comment" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="description" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="phases" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="extern" type="string" minOccurs="0"
                maxOccurs="1"></element>
        </sequence>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
    </complexType>

    <simpleType name="Severity">
        <restriction base="string">
            <enumeration value="None"></enumeration>
            <enumeration value="Minor"></enumeration>
            <enumeration value="Major"></enumeration>
            <enumeration value="Hazardous"></enumeration>
            <enumeration value="Catastrophic"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="CyberRel">
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="output" type="vdm_model:CIAPort" minOccurs="1"
                maxOccurs="1"></element>
            <element name="inputs" type="vdm_model:CyberExpr"
                minOccurs="0" maxOccurs="1"></element>
            <element name="comment" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="description" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="phases" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="extern" type="string" minOccurs="0"
                maxOccurs="1"></element>
        </sequence>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
    </complexType>


    <!-- Safety related stuff -->


    <!-- Safety relation expression -->
    <complexType name="IAPort">
        <sequence>
            <element name="name" type="string" minOccurs="1"
                maxOccurs="1"></element>
            <element name="ia" type="vdm_model:IA" minOccurs="1"
                maxOccurs="1"></element>
        </sequence>
    </complexType>

    <complexType name="EventHappens">
        <sequence>
            <element name="happens"></element>
            <element name="eventName" type="string" minOccurs="1"
                maxOccurs="1"></element>
        </sequence>
    </complexType>

    <simpleType name="IA">
        <restriction base="string">
            <enumeration value="Integrity"></enumeration>
            <enumeration value="Availability"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="SafetyRelExpr">
        <choice>
            <element name="kind" type="vdm_model:SafetyRelExprKind"></element>
            <element name="port" type="vdm_model:IAPort"></element>
            <element name="event" type="vdm_model:EventHappens"></element>
            <element name="and" type="vdm_model:SafetyRelExprList"></element>
            <element name="or" type="vdm_model:SafetyRelExprList"></element>
            <element name="not" type="vdm_model:SafetyRelExpr"></element>
        </choice>
    </complexType>

    <complexType name="SafetyRelExprList">
        <sequence>
            <element name="expr" type="vdm_model:SafetyRelExpr"
                minOccurs="1" maxOccurs="unbounded"></element>
        </sequence>
    </complexType>

    <simpleType name="SafetyRelExprKind">
        <restriction base="string">
            <enumeration value="Port"></enumeration>
            <enumeration value="Event"></enumeration>
            <enumeration value="And"></enumeration>
            <enumeration value="Or"></enumeration>
            <enumeration value="Not"></enumeration>
        </restriction>
    </simpleType>

    <!-- Safety requirements expression -->

    <simpleType name="SafetyReqExprKind">
        <restriction base="string">
            <enumeration value="Port"></enumeration>
            <enumeration value="And"></enumeration>
            <enumeration value="Or"></enumeration>
            <enumeration value="Not"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="SafetyReqExpr">
        <choice>
            <element name="kind" type="vdm_model:SafetyReqExprKind"></element>
            <element name="port" type="vdm_model:IAPort"></element>
            <element name="and" type="vdm_model:SafetyReqExprList"></element>
            <element name="or" type="vdm_model:SafetyReqExprList"></element>
            <element name="not" type="vdm_model:SafetyReqExpr"></element>
        </choice>
    </complexType>

    <complexType name="SafetyReqExprList">
        <sequence>
            <element name="expr" type="vdm_model:SafetyReqExpr"
                minOccurs="1" maxOccurs="unbounded"></element>
        </sequence>
    </complexType>


    <complexType name="SafetyRel">
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="output" type="vdm_model:IAPort" minOccurs="1"
                maxOccurs="1"></element>
            <element name="faultSrc" type="vdm_model:SafetyRelExpr"
                minOccurs="0" maxOccurs="1"></element>
            <element name="comment" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="description" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="phases" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="extern" type="string" minOccurs="0"
                maxOccurs="1"></element>
        </sequence>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
    </complexType>

    <complexType name="SafetyReq">
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="condition" type="vdm_model:SafetyReqExpr"
                minOccurs="1" maxOccurs="1"></element>
            <element name="comment" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="description" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="phases" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="extern" type="string" minOccurs="0"
                maxOccurs="1"></element>
        </sequence>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
    </complexType>

    <complexType name="Event">
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="probability" type="vdm_model:Prop"
                minOccurs="1" maxOccurs="1"></element>
            <element name="comment" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="description" type="string" minOccurs="0"
                maxOccurs="1"></element>
        </sequence>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
    </complexType>

    <simpleType name="Prop">
        <restriction base="string">
            <pattern value="[0-9]+[.]?[0-9]+e[-][0-9]+"></pattern>
        </restriction>
    </simpleType>

    <complexType name="Mission">
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="cyberReqs" type="string" minOccurs="0"
                maxOccurs="unbounded"></element>
            <element name="description" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="comment" type="string" minOccurs="0"
                maxOccurs="1"></element>
        </sequence>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
    </complexType>

    <simpleType name="ManufacturerType">
        <restriction base="string">
            <enumeration value="ThirdParty"></enumeration>
            <enumeration value="InHouse"></enumeration>
        </restriction>
    </simpleType>

    <simpleType name="PedigreeType">
        <restriction base="string">
            <enumeration value="InternallyDeveloped"></enumeration>
            <enumeration value="COTS"></enumeration>
            <enumeration value="Sourced"></enumeration>
        </restriction>
    </simpleType>
</schema>
