tools/verdict-data-model/src/main/xsd/vdm_lustre.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="qualified"
  elementFormDefault="qualified"
  targetNamespace="verdict::vdm::vdm_lustre"
  xmlns:vdm_data="verdict::vdm::vdm_data"
  xmlns:vdm_lustre="verdict::vdm::vdm_lustre"
  xmlns="http://www.w3.org/2001/XMLSchema">

  <import schemaLocation="vdm_data.xsd"
    namespace="verdict::vdm::vdm_data"></import>

  <complexType name="LustreProgram">
    <sequence>
      <element name="typeDeclaration"
        type="vdm_data:TypeDeclaration" maxOccurs="unbounded" minOccurs="0">
      </element>
      <element name="constantDeclaration"
        type="vdm_lustre:ConstantDeclaration" maxOccurs="unbounded"
        minOccurs="0">
      </element>
      <element name="contractDeclaration"
        type="vdm_lustre:Contract" maxOccurs="unbounded" minOccurs="0"></element>
      <element name="nodeDeclaration" type="vdm_lustre:Node"
        maxOccurs="unbounded" minOccurs="0">
      </element>
    </sequence>
  </complexType>

  <complexType name="Expression">
    <choice>
      <element name="identifier" type="vdm_data:Identifier"></element>
      <element name="boolLiteral" type="boolean"></element>
      <element name="intLiteral" type="integer"></element>
      <element name="realLiteral" type="decimal"></element>
      <element name="expressionList"
        type="vdm_lustre:ExpressionList">
      </element>
      <element name="recordLiteral" type="vdm_lustre:RecordLiteral">
      </element>
      <element name="arrayExpression"
        type="vdm_lustre:ExpressionList">
      </element>
      <element name="cartesianExpression"
        type="vdm_lustre:BinaryOperation">
      </element>
      <element name="tupleExpression"
        type="vdm_lustre:ExpressionList">
      </element>
      <element name="negative" type="vdm_lustre:Expression"></element>
      <element name="pre" type="vdm_lustre:Expression"></element>
      <element name="current" type="vdm_lustre:Expression"></element>
      <element name="toInt" type="vdm_lustre:Expression"></element>
      <element name="toReal" type="vdm_lustre:Expression"></element>
      <element name="when" type="vdm_lustre:BinaryOperation"></element>
      <element name="times" type="vdm_lustre:BinaryOperation"></element>
      <element name="div" type="vdm_lustre:BinaryOperation"></element>
      <element name="mod" type="vdm_lustre:BinaryOperation"></element>
      <element name="intDiv" type="vdm_lustre:BinaryOperation"></element>
      <element name="plus" type="vdm_lustre:BinaryOperation"></element>
      <element name="minus" type="vdm_lustre:BinaryOperation">
      </element>
      <element name="not" type="vdm_lustre:Expression"></element>
      <element name="lessThan" type="vdm_lustre:BinaryOperation">
      </element>
      <element name="lessThanOrEqualTo"
        type="vdm_lustre:BinaryOperation">
      </element>
      <element name="equal" type="vdm_lustre:BinaryOperation"></element>
      <element name="greaterThanOrEqualTo"
        type="vdm_lustre:BinaryOperation">
      </element>
      <element name="greaterThan" type="vdm_lustre:BinaryOperation">
      </element>
      <element name="notEqual" type="vdm_lustre:BinaryOperation">
      </element>
      <element name="and" type="vdm_lustre:BinaryOperation"></element>
      <element name="or" type="vdm_lustre:BinaryOperation"></element>
      <element name="xor" type="vdm_lustre:BinaryOperation"></element>
      <element name="implies" type="vdm_lustre:BinaryOperation"></element>
      <element name="arrow" type="vdm_lustre:BinaryOperation"></element>
      <element name="concat" type="vdm_lustre:BinaryOperation"></element>
      <element name="diese" type="vdm_lustre:ExpressionList"></element>
      <element name="nor" type="vdm_lustre:ExpressionList"></element>
      <element name="conditionalExpression"
        type="vdm_lustre:IfThenElse">
      </element>
      <element name="call" type="vdm_lustre:NodeCall"></element>
      <element name="recordProjection"
        type="vdm_lustre:RecordProjection">
      </element>
      <element name="arraySelection"
        type="vdm_lustre:ArraySelection">
      </element>
      <element name="merge" type="vdm_lustre:MergeOperation"></element>
      <element name="event" type="vdm_lustre:Expression"></element>
    </choice>
  </complexType>

  <complexType name="RecordProjection">
    <sequence>
      <element name="recordReference" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="1">
      </element>
      <element name="fieldId" type="vdm_data:Identifier"
        maxOccurs="1" minOccurs="1"></element>
    </sequence>
    <attribute name="recordType" type="vdm_data:Identifier"></attribute>
  </complexType>

  <complexType name="RecordLiteral">
    <sequence>
      <element name="fieldDefinition"
        type="vdm_lustre:FieldDefinition" maxOccurs="unbounded"
        minOccurs="1">
      </element>
    </sequence>
    <attribute name="recordType" type="vdm_data:Identifier"
      use="required"></attribute>
  </complexType>

  <complexType name="FieldDefinition">
    <sequence>
      <element name="fieldIdentifier" type="vdm_data:Identifier"
        maxOccurs="1" minOccurs="1"></element>
      <element name="fieldValue" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="1"></element>
    </sequence>
  </complexType>

  <complexType name="BinaryOperation">
    <all>
      <element name="lhsOperand" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="1">
      </element>
      <element name="rhsOperand" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="1">
      </element>
    </all>
  </complexType>

  <complexType name="IfThenElse">
    <sequence>
      <element name="condition" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="1"></element>
      <element name="thenBranch" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="1"></element>
      <element name="elseBranch" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="1"></element>
    </sequence>
  </complexType>

  <complexType name="NodeCall">
    <sequence>
      <element name="argument" type="vdm_lustre:Expression"
        maxOccurs="unbounded" minOccurs="0"></element>
    </sequence>
    <attribute name="nodeId" type="vdm_data:Identifier"></attribute>
  </complexType>

  <complexType name="ConstantDeclaration">
    <sequence>
      <element name="name" type="vdm_data:Identifier" maxOccurs="1"
        minOccurs="1">
      </element>
      <element name="dataType" type="vdm_data:DataType"
        maxOccurs="1" minOccurs="0"></element>
      <element name="definition" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="0">
      </element>
    </sequence>
  </complexType>

  <complexType name="Node">
    <sequence>
      <element name="name" type="vdm_data:Identifier" maxOccurs="1"
        minOccurs="1">
      </element>
      <element name="inputParameter"
        type="vdm_lustre:NodeParameter" maxOccurs="unbounded" minOccurs="0">
      </element>
      <element name="outputParameter"
        type="vdm_lustre:NodeParameter" maxOccurs="unbounded" minOccurs="0">
      </element>
      <element name="contract" type="vdm_lustre:ContractSpec"
        maxOccurs="1" minOccurs="0">
      </element>
      <element name="body" type="vdm_lustre:NodeBody" maxOccurs="1"
        minOccurs="0">
      </element>
    </sequence>
    <attribute name="isFunction" type="boolean"></attribute>
    <attribute name="isImported" type="boolean"></attribute>
  </complexType>

  <complexType name="NodeParameter">
    <sequence>
      <element name="name" type="vdm_data:Identifier" maxOccurs="1"
        minOccurs="1"></element>
      <element name="dataType" type="vdm_data:DataType"
        maxOccurs="1" minOccurs="1"></element>
    </sequence>
    <attribute name="isConstant" type="boolean"></attribute>
  </complexType>

  <complexType name="ContractSpec">
    <sequence>
      <element name="symbol" type="vdm_lustre:SymbolDefinition"
        maxOccurs="unbounded" minOccurs="0">
      </element>
      <element name="assume" type="vdm_lustre:ContractItem"
        maxOccurs="unbounded" minOccurs="0">
      </element>
      <element name="guarantee" type="vdm_lustre:ContractItem"
        maxOccurs="unbounded" minOccurs="0">
      </element>
      <element name="mode" type="vdm_lustre:ContractMode"
        maxOccurs="unbounded" minOccurs="0">
      </element>
      <element name="import" type="vdm_lustre:ContractImport"
        maxOccurs="unbounded" minOccurs="0">
      </element>
      <element name="weaklyassume" type="vdm_lustre:ContractItem"
        maxOccurs="unbounded" minOccurs="0"></element>
    </sequence>
  </complexType>

  <complexType name="NodeBody">
    <sequence>
      <element name="constantDeclaration"
        type="vdm_lustre:ConstantDeclaration" maxOccurs="unbounded"
        minOccurs="0">
      </element>
      <element name="variableDeclaration"
        type="vdm_lustre:VariableDeclaration" maxOccurs="unbounded"
        minOccurs="0">
      </element>
      <element name="assertion" type="vdm_lustre:Expression"
        maxOccurs="unbounded" minOccurs="0">
      </element>
      <element name="equation" type="vdm_lustre:NodeEquation"
        maxOccurs="unbounded" minOccurs="1">
      </element>
      <element name="property" type="vdm_lustre:NodeProperty"
        maxOccurs="unbounded" minOccurs="0">
      </element>
    </sequence>
    <attribute name="isMain" type="boolean"></attribute>
  </complexType>

  <complexType name="Contract">
    <sequence>
      <element name="name" type="vdm_data:Identifier" maxOccurs="1"
        minOccurs="1">
      </element>
      <element name="inputParameter"
        type="vdm_lustre:NodeParameter" maxOccurs="unbounded" minOccurs="0">
      </element>
      <element name="outputParameter"
        type="vdm_lustre:NodeParameter" maxOccurs="unbounded" minOccurs="0">
      </element>
      <element name="specification" type="vdm_lustre:ContractSpec"
        maxOccurs="unbounded" minOccurs="1"></element>
    </sequence>
  </complexType>

  <complexType name="VariableDeclaration">
    <sequence>
      <element name="name" type="vdm_data:Identifier" maxOccurs="1"
        minOccurs="1">
      </element>
      <element name="dataType" type="vdm_data:DataType"
        maxOccurs="1" minOccurs="1"></element>
    </sequence>
  </complexType>

  <complexType name="NodeEquation">
    <sequence>
      <element name="lhs" type="vdm_lustre:NodeEquationLHS"
        maxOccurs="1" minOccurs="1"></element>
      <element name="rhs" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="1"></element>
    </sequence>
  </complexType>

  <complexType name="NodeProperty">
    <sequence>
      <element name="expression" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="1"></element>
    </sequence>
    <attribute name="name" type="string"></attribute>
  </complexType>

  <complexType name="NodeEquationLHS">
    <sequence>
      <element name="identifier" type="string"
        maxOccurs="unbounded" minOccurs="1"></element>
    </sequence>
  </complexType>

  <complexType name="ExpressionList">
    <sequence>
      <element name="expression" type="vdm_lustre:Expression"
        maxOccurs="unbounded" minOccurs="1"></element>
    </sequence>
  </complexType>

  <complexType name="SymbolDefinition">
    <sequence>
      <element name="name" type="vdm_data:Identifier" maxOccurs="1"
        minOccurs="1">
      </element>
      <element name="dataType" type="vdm_data:DataType"
        maxOccurs="1" minOccurs="0">
      </element>
      <element name="definition" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="1">
      </element>
    </sequence>
    <attribute name="isConstant" type="boolean"></attribute>
  </complexType>

  <complexType name="ContractMode">
    <sequence>
      <element name="name" type="string" maxOccurs="1"
        minOccurs="1">
      </element>
      <element name="require" type="vdm_lustre:ContractItem"
        maxOccurs="unbounded" minOccurs="0">
      </element>
      <element name="ensure" type="vdm_lustre:ContractItem"
        maxOccurs="unbounded" minOccurs="0"></element>
    </sequence>
  </complexType>

  <complexType name="ContractItem">
    <sequence>
      <element name="name" type="string" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="expression" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="1"></element>
    </sequence>
  </complexType>

  <complexType name="ContractImport">
    <sequence>
      <element name="inputArgument" type="vdm_lustre:Expression"
        maxOccurs="unbounded" minOccurs="0">
      </element>
      <element name="outputArgument" type="vdm_lustre:Expression"
        maxOccurs="unbounded" minOccurs="0"></element>
    </sequence>
    <attribute name="contractId" type="vdm_data:Identifier"></attribute>
  </complexType>

  <complexType name="ArraySelection">
    <sequence>
      <element name="array" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="1"></element>
      <element name="selector" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="1"></element>
      <element name="trancheEnd" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="0"></element>
      <element name="sliceStep" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="0"></element>
    </sequence>
  </complexType>

  <complexType name="MergeOperation">
    <sequence>
      <element name="clock" type="string" maxOccurs="1"
        minOccurs="1"></element>
      <element name="mergeCase" type="vdm_lustre:MergeCase"
        maxOccurs="unbounded" minOccurs="1">
      </element>
    </sequence>
  </complexType>

  <complexType name="MergeCase">
    <sequence>
      <element name="case" type="string" maxOccurs="1"
        minOccurs="1">
      </element>
      <element name="expr" type="vdm_lustre:Expression"
        maxOccurs="1" minOccurs="1"></element>
    </sequence>
  </complexType>
</schema>
