tools/verdict/com.ge.research.osate.verdict.vdm/src/main/resources/vdm_model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="verdict::vdm::vdm_model"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:vdm_model="verdict::vdm::vdm_model"
    xmlns:vdm_data="verdict::vdm::vdm_data"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
    xmlns:vdm_lustre="verdict::vdm::vdm_lustre">

    <import schemaLocation="vdm_lustre.xsd"
        namespace="verdict::vdm::vdm_lustre"></import>
    <import schemaLocation="vdm_data.xsd"
        namespace="verdict::vdm::vdm_data"></import>

    <element name="model" type="vdm_model:Model"></element>

    <complexType name="Model">
        <sequence>
            <element name="name" type="vdm_data:Identifier"></element>
            <element name="typeDeclaration"
                type="vdm_data:TypeDeclaration" maxOccurs="unbounded" minOccurs="0">
            </element>
            <element name="componentType" type="vdm_model:ComponentType"
                maxOccurs="unbounded" minOccurs="0">
            </element>
            <element name="componentImpl" type="vdm_model:ComponentImpl"
                maxOccurs="unbounded" minOccurs="0">
            </element>
            <element name="dataflowCode" type="vdm_lustre:LustreProgram"
                maxOccurs="1" minOccurs="0">
            </element>
            <element name="safetyReq" type="vdm_model:SafetyReq"
                minOccurs="0" maxOccurs="unbounded">
            </element>
            <element name="cyberReq" type="vdm_model:CyberReq"
                minOccurs="0" maxOccurs="unbounded">
            </element>
            <element name="mission" type="vdm_model:Mission"
                minOccurs="0" maxOccurs="unbounded">
            </element>
        </sequence>
    </complexType>

    <complexType name="ComponentType">
        <sequence>
            <element name="port" type="vdm_model:Port"
                maxOccurs="unbounded" minOccurs="1">
            </element>
            <element name="contract" type="vdm_lustre:ContractSpec"
                maxOccurs="1" minOccurs="0">
            </element>
            <element name="cyberRel" type="vdm_model:CyberRel"
                minOccurs="0" maxOccurs="unbounded"></element>
            <element name="safetyRel" type="vdm_model:SafetyRel"
                minOccurs="0" maxOccurs="unbounded"></element>
            <element name="event" type="vdm_model:Event" minOccurs="0"
                maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="id" type="ID" use="required"></attribute>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
        <attribute name="compCateg" type="string"></attribute>
    </complexType>

    <complexType name="ComponentImpl">
        <choice>
            <element name="blockImpl" type="vdm_model:BlockImpl"></element>
            <element name="dataflowImpl" type="vdm_lustre:NodeBody"></element>
        </choice>
        <attribute name="id" type="ID" use="required"></attribute>
        <attribute name="type" type="IDREF" use="required">
            <annotation>
                <appinfo>
                    <jaxb:property>
                        <jaxb:baseType
                            name="verdict.vdm.vdm_model.ComponentType" />
                    </jaxb:property>
                </appinfo>
            </annotation>
        </attribute>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
    </complexType>

    <complexType name="Port">
        <sequence>
            <element name="name" type="vdm_data:Identifier" maxOccurs="1"
                minOccurs="1">
            </element>
            <element name="mode" type="vdm_model:PortMode" maxOccurs="1"
                minOccurs="1">
            </element>
            <element name="type" type="vdm_data:DataType" maxOccurs="1"
                minOccurs="0">
            </element>
        </sequence>
        <attribute name="id" type="ID" use="required"></attribute>
        <attribute name="probe" type="boolean" use="required"></attribute>
        <attribute name="event" type="boolean"></attribute>
    </complexType>

    <simpleType name="PortMode">
        <restriction base="string">
            <enumeration value="in"></enumeration>
            <enumeration value="out"></enumeration>
            <enumeration value="inOut"></enumeration>
            <enumeration value="requiresDataAccess"></enumeration>
            <enumeration value="providesDataAccess"></enumeration>
            <enumeration value="data"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="ComponentInstance">
        <choice>
            <element name="specification" type="IDREF">
                <annotation>
                    <appinfo>
                        <jaxb:property>
                            <jaxb:baseType
                                name="verdict.vdm.vdm_model.ComponentType" />
                        </jaxb:property>
                    </appinfo>
                </annotation>
            </element>
            <element name="implementation" type="IDREF">
                <annotation>
                    <appinfo>
                        <jaxb:property>
                            <jaxb:baseType
                                name="verdict.vdm.vdm_model.ComponentImpl" />
                        </jaxb:property>
                    </appinfo>
                </annotation>
            </element>
            <element name="attribute" type="vdm_data:GenericAttribute"
                minOccurs="0" maxOccurs="unbounded">
            </element>
        </choice>
        <attribute name="id" type="ID"></attribute>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
    </complexType>

    <complexType name="BlockImpl">
        <sequence>
            <element name="subcomponent"
                type="vdm_model:ComponentInstance" maxOccurs="unbounded"
                minOccurs="1">
            </element>
            <element name="connection" type="vdm_model:Connection"
                maxOccurs="unbounded" minOccurs="1">
            </element>
        </sequence>
    </complexType>

    <complexType name="Connection">
        <sequence>
            <element name="source" type="vdm_model:ConnectionEnd"></element>
            <element name="destination" type="vdm_model:ConnectionEnd">
            </element>
            <element name="attribute" type="vdm_data:GenericAttribute"
                minOccurs="0" maxOccurs="unbounded">
            </element>
        </sequence>
        <attribute name="name" type="vdm_data:Identifier"
            use="required">
        </attribute>
    </complexType>



    <complexType name="ConnectionEnd">
        <choice>
            <element name="componentPort" type="IDREF">
                <annotation>
                    <appinfo>
                        <jaxb:property>
                            <jaxb:baseType name="verdict.vdm.vdm_model.Port" />
                        </jaxb:property>
                    </appinfo>
                </annotation>
            </element>
            <element name="subcomponentPort"
                type="vdm_model:CompInstancePort"></element>
        </choice>
    </complexType>

    <complexType name="CompInstancePort">
        <sequence>
            <element name="subcomponent" type="IDREF" maxOccurs="1"
                minOccurs="1">
                <annotation>
                    <appinfo>
                        <jaxb:property>
                            <jaxb:baseType
                                name="verdict.vdm.vdm_model.ComponentInstance" />
                        </jaxb:property>
                    </appinfo>
                </annotation>
            </element>
            <element name="port" type="IDREF" maxOccurs="1" minOccurs="1">
                <annotation>
                    <appinfo>
                        <jaxb:property>
                            <jaxb:baseType name="verdict.vdm.vdm_model.Port" />
                        </jaxb:property>
                    </appinfo>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="CIAPort">
        <sequence>
            <element name="name" type="string" minOccurs="1"
                maxOccurs="1"></element>
            <element name="cia" type="vdm_model:CIA" minOccurs="1"
                maxOccurs="1"></element>
        </sequence>
    </complexType>

    <simpleType name="CIA">
        <restriction base="string">
            <enumeration value="Confidentiality"></enumeration>
            <enumeration value="Integrity"></enumeration>
            <enumeration value="Availability"></enumeration>
        </restriction>
    </simpleType>

    <simpleType name="CyberExprKind">
        <restriction base="string">
            <enumeration value="Port"></enumeration>
            <enumeration value="And"></enumeration>
            <enumeration value="Or"></enumeration>
            <enumeration value="Not"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="CyberExpr">
        <choice>
            <element name="kind" type="vdm_model:CyberExprKind"></element>
            <element name="port" type="vdm_model:CIAPort"></element>
            <element name="and" type="vdm_model:CyberExprList"></element>
            <element name="or" type="vdm_model:CyberExprList"></element>
            <element name="not" type="vdm_model:CyberExpr"></element>
        </choice>
    </complexType>

    <complexType name="CyberExprList">
        <sequence>
            <element name="expr" type="vdm_model:CyberExpr" minOccurs="1"
                maxOccurs="unbounded"></element>
        </sequence>
    </complexType>

    <complexType name="CyberReq">
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="cia" type="vdm_model:CIA" minOccurs="0"
                maxOccurs="1"></element>
            <element name="severity" type="vdm_model:Severity"
                minOccurs="1" maxOccurs="1"></element>
            <element name="condition" type="vdm_model:CyberExpr"
                minOccurs="1" maxOccurs="1"></element>
            <element name="comment" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="description" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="justification" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="assumption" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="strategy" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="phases" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="extern" type="string" minOccurs="0"
                maxOccurs="1"></element>
        </sequence>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
    </complexType>

    <simpleType name="Severity">
        <restriction base="string">
            <enumeration value="None"></enumeration>
            <enumeration value="Minor"></enumeration>
            <enumeration value="Major"></enumeration>
            <enumeration value="Hazardous"></enumeration>
            <enumeration value="Catastrophic"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="CyberRel">
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="output" type="vdm_model:CIAPort" minOccurs="1"
                maxOccurs="1"></element>
            <element name="inputs" type="vdm_model:CyberExpr"
                minOccurs="0" maxOccurs="1"></element>
            <element name="comment" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="description" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="phases" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="extern" type="string" minOccurs="0"
                maxOccurs="1"></element>
        </sequence>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
    </complexType>


    <!-- Safety related stuff -->


    <!-- Safety relation expression -->
    <complexType name="IAPort">
        <sequence>
            <element name="name" type="string" minOccurs="1"
                maxOccurs="1"></element>
            <element name="ia" type="vdm_model:IA" minOccurs="1"
                maxOccurs="1"></element>
        </sequence>
    </complexType>

    <complexType name="EventHappens">
        <sequence>
            <element name="happens"></element>
            <element name="eventName" type="string" minOccurs="1"
                maxOccurs="1"></element>
        </sequence>
    </complexType>

    <simpleType name="IA">
        <restriction base="string">
            <enumeration value="Integrity"></enumeration>
            <enumeration value="Availability"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="SafetyRelExpr">
        <choice>
            <element name="kind" type="vdm_model:SafetyRelExprKind"></element>
            <element name="port" type="vdm_model:IAPort"></element>
            <element name="fault" type="vdm_model:EventHappens"></element>
            <element name="and" type="vdm_model:SafetyRelExprList"></element>
            <element name="or" type="vdm_model:SafetyRelExprList"></element>
            <element name="not" type="vdm_model:SafetyRelExpr"></element>
        </choice>
    </complexType>

    <complexType name="SafetyRelExprList">
        <sequence>
            <element name="expr" type="vdm_model:SafetyRelExpr"
                minOccurs="1" maxOccurs="unbounded"></element>
        </sequence>
    </complexType>

    <simpleType name="SafetyRelExprKind">
        <restriction base="string">
            <enumeration value="Port"></enumeration>
            <enumeration value="Fault"></enumeration>
            <enumeration value="And"></enumeration>
            <enumeration value="Or"></enumeration>
            <enumeration value="Not"></enumeration>
        </restriction>
    </simpleType>

    <!-- Safety requirements expression -->

    <simpleType name="SafetyReqExprKind">
        <restriction base="string">
            <enumeration value="Port"></enumeration>
            <enumeration value="And"></enumeration>
            <enumeration value="Or"></enumeration>
            <enumeration value="Not"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="SafetyReqExpr">
        <choice>
            <element name="kind" type="vdm_model:SafetyReqExprKind"></element>
            <element name="port" type="vdm_model:IAPort"></element>
            <element name="and" type="vdm_model:SafetyReqExprList"></element>
            <element name="or" type="vdm_model:SafetyReqExprList"></element>
            <element name="not" type="vdm_model:SafetyReqExpr"></element>
        </choice>
    </complexType>

    <complexType name="SafetyReqExprList">
        <sequence>
            <element name="expr" type="vdm_model:SafetyReqExpr"
                minOccurs="1" maxOccurs="unbounded"></element>
        </sequence>
    </complexType>


    <complexType name="SafetyRel">
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="output" type="vdm_model:IAPort" minOccurs="1"
                maxOccurs="1"></element>
            <element name="faultSrc" type="vdm_model:SafetyRelExpr"
                minOccurs="0" maxOccurs="1"></element>
            <element name="comment" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="description" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="phases" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="extern" type="string" minOccurs="0"
                maxOccurs="1"></element>
        </sequence>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
    </complexType>

    <complexType name="SafetyReq">
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="condition" type="vdm_model:SafetyReqExpr"
                minOccurs="1" maxOccurs="1"></element>
            <element name="targetProbability" type="string" minOccurs="1"
                maxOccurs="1"></element>
            <element name="comment" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="description" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="justification" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="assumption" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="strategy" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="phases" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="extern" type="string" minOccurs="0"
                maxOccurs="1"></element>
        </sequence>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
    </complexType>

    <complexType name="Event">
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="probability" type="vdm_model:Prop"
                minOccurs="1" maxOccurs="1"></element>
            <element name="comment" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="description" type="string" minOccurs="0"
                maxOccurs="1"></element>
        </sequence>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
    </complexType>

    <simpleType name="Prop">
        <restriction base="string">
            <pattern value="[0-9]+[.]?[0-9]+e[-][0-9]+"></pattern>
        </restriction>
    </simpleType>

    <complexType name="Mission">
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1"></element>
            <element name="cyberReqs" type="string" minOccurs="0"
                maxOccurs="unbounded"></element>
            <element name="description" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="justification" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="assumption" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="strategy" type="string" minOccurs="0"
                maxOccurs="1"></element>
            <element name="comment" type="string" minOccurs="0"
                maxOccurs="1"></element>
        </sequence>
        <attribute name="name" type="vdm_data:Identifier"></attribute>
    </complexType>

</schema>
